.drawer-overlay {
    max-height: 100vh;
    max-width: 100vw;
    .modal-header {
        pointer-events: auto;
    }
    .mx-resizer {
        display: none;
    }
    .mx-placeholder {
        display: contents;
    }
}
.drawer-overlay--top {
    top: 0 !important;
    right: 0 !important;
    bottom: auto !important;
    left: 0 !important;
    width: 100vw !important;
    transform: translateY(-100%);
}
.drawer-overlay--right {
    height: 100vh !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: auto !important;
    transform: translateX(100%);
}
.drawer-overlay--bottom {
    top: auto !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    transform: translateY(100%);
}
.drawer-overlay--left {
    height: 100vh !important;
    top: 0 !important;
    right: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: translateX(-100%);
}
.drawer-overlay.transition {
    transition: transform 0.2s ease-in-out;
    will-change: transition;
}
.drawer-overlay.visible {
    transform: unset;
}
.drawer-overlay.drawer-overlay {
    .modal-content {
        background-color: var(--background-primary, white);
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }
}
.drawer-overlay--remove-header {
    .modal-header {
        display: none;
    }
}
.drawer-overlay__closebutton {
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    &:hover {
        cursor: pointer;
    }
}
.drawer-overlay__content {
    padding-inline: var(--spacing-regular, 16px);
}
.drawer-overlay__header {
    background-color: var(--background-primary, white);
    inset-block-start: 0;
    padding-block: var(--spacing-smaller, 8px);
    padding-inline: var(--spacing-regular, 16px);
    position: sticky;
    z-index: 2;
}
.drawer-overlay__footer {
    background-color: var(--background-primary, white);
    inset-block-end: 0;
    padding-block: var(--spacing-smaller, 8px);
    padding-inline: var(--spacing-regular, 16px);
    position: sticky;
    z-index: 2;
}
.drawer-underlay {
    background-color: var(--underlay-color, black);
    bottom: calc(0px - 100vh);
    content: "";
    display: block;
    left: calc(0px - 100vw);
    opacity: 0;
    position: fixed;
    transition: opacity 0.2s ease-in-out;
    top: calc(0px - 100vh);
    right: calc(0px - 100vw);
    will-change: opacity;
    z-index: -1;
}
.mx-page {
    > .drawer-underlay {
        z-index: 100;
    }
}
.drawer-underlay--left {
    left: 0vw;
}
.drawer-underlay--right {
    right: 0vw;
}
.drawer-underlay--top {
    top: 0vh;
}
.drawer-underlay--bottom {
    bottom: 0vh;
}
.drawer-underlay.visible {
    opacity: 0.45;
    &:hover {
        cursor: pointer;
    }
}
body {
    &:has(.drawer-overlay) {
        overflow: hidden;
    }
}
.mx-page.mx-page--push {
    transition: transform 0.4s ease-in-out;
    will-change: transition;
    z-index: 9999;
}
